@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mozilla+Headline:wght@200..700&display=swap');

:root {
    --color-background: #BBCDE5;
    --color-text: #222222;
    --color-primary: #802392;
    --color-secondary: #995FA3;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Cabin', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

.bem-vindo {
    background-image: url(imagem/por-do-sol.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    color: rgb(255, 253, 253);
    width: 600px;
}

cite {
    font-style: italic;
    font-weight: 100;
}