* {
    margin: 0;
    padding: 0;
}
:root {
    
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--background-color);
}

header {
  background-color: var(--background-header);
  border-bottom: 2px solid #ddd;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

.logo {
    cursor: pointer;
}

.logo-img {
    height: 27;
    width: 27px;
}

.logo-texto {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.botao {
    display: flex;
    gap: 10px;
}

.cadastro {
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--primario-color);
    color: var(--secondario-color);
}

.entra {
    padding: 5px;
    margin-top: 6px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

main {
    padding: 20px;
}

.cabecalho {
    margin: 100px;
    text-align: center;
}

p {
    color: var(--text-color-secundario);
}

.sobre {
    font-size: 20px;
    color: #8E2424;
    padding: 24px;
    margin: 7px;
}

main h1 {
    font-size: 40px;
}

.texto-de-apoio {
    font-size: 20px;
    padding: 10px;
}