* {
    margin: 0;
    padding: 0;
}
:root {
    --cor1: #FFFFFF;
    --cor2: #8E2424;
    --cor3: #667085;
    --cor4: #C31919;
    --cor5: #3A404E;
    --cor6: #101828;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--background-color);
}

header {
  background-color: var(--background-header);
  border-bottom: 2px solid #ddd;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

.logo {
    margin: -16px;
    cursor: pointer;
}

.logo-img {
    height: 27;
    width: 27px;
    margin-right: 8px;
}

.logo-texto {
    margin-top: 4px;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: var(--cor5);
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor3);
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.entra {
    padding: 5px;
    margin-top: 6px;
    color: var(--cor3);
}

.botao {
    display: flex;
    gap: 10px;
}

.cadastro {
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--cor2);
    color: var(--cor1);
}

main {
    padding: 20px;
}

.cabecalho {
    margin: 100px;
    text-align: center;
}

.sobre {
    font-size: 20px;
    color: #8E2424;
    padding: 24px;
    margin: 7px;
}

h1 {
    font-size: 40px;
}

p {
    color: var(--cor3);
}

.texto-de-apoio {
    font-size: 20px;
    padding: 10px;
}

.metricas {
    display: flex;
    justify-content: space-between;
    
}

.numero {
    font-size: 30px;
    color: var(--cor2);
    font-weight: bold;
    margin-bottom: 10px;
}

.conteudo-metricas {
    text-align: left;
    padding: 20px;
    background-color: var(--cor1);
    border-radius: 10px;
}

h3 {
    font-size: 14px;
    color: var(--cor6);
}